*{
    padding: 0;
    margin: 0;
    color: white;
}
#nav{
    height: 60px;
    background-color: black;
}
#logo{
    color: #f08804;
    height: 25px;
    font-size: 25px;
}
button{
    background-color: #f08804;
}
a{
    text-decoration: none;
    margin-right: 200px;
}
#search{
    color:black;
}
footer{
    background-color: black;
    text-align: center;
}
.box{
    height: 100px;
    width: 100px;
    border: 3px solid black;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
#content{
    height: 650px;
}
body{
    background-image: url(image.png);
    background:contain;
}