#navbar{
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: aqua;
    /* display: inline-block;  */
}
li{
    list-style-type: none;
    /* background-color: black; */
}
#container{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: burlywood;
}
div{
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
}