body{
    background-color: black;
}
nav{
    width: 100%;
    height: 64px;
    display: flex;
}
#buthome{
    border-radius: 50%;
    background-color: black;
    height: 48px;
    width: 48pxs;
    position: relative;
    bottom: 4px;
}
#song{
    height: 40px;
    width: 500px;
    margin: 14px;
    position: relative;
    bottom: 6px;
    border-radius: 20px;
    background-color: #24282a;
    border: 2px solid #24282a;
    text-align: center;
    font-size: 20px;
    margin-right: 0px;
}
a{
    text-decoration: none;
    color: #7e8082;
    font-size: 18px;
    font-family:monospace;
    font:bold;
}
#container{
    position: relative;
    top: 20px;
}
.nav{
    position: relative;
    top: 18px;
    left: 200px;
    margin: 10px;
    display: inline-block;
}
#login{
    background-color: white;
    color: black;
    border-radius: 35px;
    width: 100px;
    text-align: center;
    height: 22px;
    padding: 10px 0px 10px 0px;
    margin-top: 0px;
}
.tsongs{
    height: 289.6px;
    width: 191px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    position: relative;
    top: 30px;
    margin-right: 8px;
    background-repeat: no-repeat; 
    background-color: #151718;
}