* {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.choices {
    height: 300px;
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
}

.choice:hover {
    cursor: pointer;
    opacity: 0.7;
}

.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.score {
    align-items: center;
    text-align: center;
    justify-content: center;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

body {
    text-align: center;
}

#text {
    margin: 20px auto;
    display: inline-block;
    text-align: center;
    background-color: rgb(237, 188, 91);
    padding: 10px;
    border-radius: 8px;
}